@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 257 44% 97%;
    --foreground: 256 20% 15%;
    
    --card: 0 0% 100%;
    --card-foreground: 256 20% 15%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 256 20% 15%;
    
    --primary: 256 34% 60%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 257 30% 91%;
    --secondary-foreground: 256 20% 15%;
    
    --muted: 257 30% 91%;
    --muted-foreground: 256 15% 45%;
    
    --accent: 232 51% 44%;
    --accent-foreground: 0 0% 100%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 257 20% 85%;
    --input: 257 20% 85%;
    --ring: 256 34% 60%;

    --chart-1: 256 34% 60%;
    --chart-2: 232 51% 55%;
    --chart-3: 280 40% 65%;
    --chart-4: 220 45% 60%;
    --chart-5: 300 42% 62%;
    
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 256 20% 10%;
    --foreground: 0 0% 98%;

    --card: 256 20% 12%;
    --card-foreground: 0 0% 98%;

    --popover: 256 20% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 256 34% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 256 20% 18%;
    --secondary-foreground: 0 0% 98%;

    --muted: 256 20% 18%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 232 51% 64%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 256 20% 18%;
    --input: 256 20% 18%;
    --ring: 256 34% 60%;

    --chart-1: 256 34% 60%;
    --chart-2: 232 51% 64%;
    --chart-3: 280 40% 70%;
    --chart-4: 220 45% 65%;
    --chart-5: 300 42% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
